/* Navbar */
.navbar{
    background-color: #323131;
    opacity: 100%;
}
.navbar-brand{
    font-family: Viga;
    font-size: 32px;
    color: white !important;
}
.nav-link{
    font-family: 'Titillium Web';
    font-size: 20px;
    margin-right: 27px;
    font-style: normal;
    color: white !important;
}
.nav-link:hover::after{
    content: '';
    display: block;
    border-bottom: 3px solid white;
    width: 50%;
    margin: auto;
    margin-bottom: -3px;
}
/* akhir Navbar */


.barber{
    color: white;
}

.card{
    background-color: black;
}

body{
    background-color: #B0AAA9;
}