/* Navbar */
.navbar{
    background-color: #323131;
    opacity: 100%;
}
.navbar-brand{
    font-family: Viga;
    font-size: 22px;
    color: white !important;
}
.nav-link{
    font-family: 'Titillium Web';
    font-size: 18px;
    margin-right: 27px;
    font-style: normal;
    color: white !important;
}
.nav-link:hover{
        content: '';
        display: block;
        background: black;
    
}
.dropdown-menu{
    background-color: #323131;
}
.dropdown-item{
    font-family: 'Titillium Web';
    color: white !important;
}
.dropdown-item:hover{
    content: '';
    display: block;
    background: black;
}

/* akhir Navbar */
img{
    width: 1000px;
    height: 10px;
}

.card{
    background-color: transparent;
    font-family: 'Titillium Web';
    font-size: 16px;
}

#popup{
    background-image: url('tim-mossholder-q49oU8NeOHQ-unsplash.jpg');
    background-size: cover;
    
}

.border{
    margin-top: 20px;
    background-color:black ;
}
.status{
    border: gray;
}
 

@media (min-width: 992px) {
    .navbar-brand{
        font-size: 32px;
    }
    .nav-link{
        font-size: 20px;
    }

    img{
        width: 1080px;
    }
    .dropdown-menu{
        background-color: white;
    }
    .dropdown-item{
        color: black !important;
    }
    .dropdown-item:hover{
        content: '';
        display: block;
        background: grey;
    } 
} 