/* Navbar */
.navbar{
    background-color: #323131;
    opacity: 100%;
}
.navbar-brand{
    font-family: Viga;
    font-size: 22px;
    color: white !important;
}
.nav-link{
    font-family: 'Titillium Web';
    font-size: 18px;
    margin-right: 27px;
    color: white !important;
}
.nav-link:hover{
    content: '';
    display: block;
    background: black;
}

.dropdown-menu{
    background-color: #323131;
}
.dropdown-item{
    color: white !important;
    font-family: 'Titillium Web';
}
.dropdown-item:hover{
    content: '';
    display: block;
    background: black;
}
/* akhir Navbar */

 .card-body{
     height: 200px;
     font-family: 'Cairo', sans-serif ;
 }
.card{
    width: 16rem;
    margin-top: 20px;
}
 
 .jumbotron{
    background-image: url(Background.jpg);
    background-size: cover;
    height: 540px;
    position: relative;
}
html{
    scroll-behavior: smooth;
}
#popup{
    background-image: url('tim-mossholder-q49oU8NeOHQ-unsplash.jpg');
    background-size: cover;
    
}
    /* akhir */
#popupp{
    background-image: url('nyoba_tok.jpg');
    background-size: cover;
}
    /* akhir */
#popuppp{
    background-image: url('iki_nyobak.jpg');
    background-size: cover;
}  
@media (min-width: 992px) {
    .jumbotron{
        background-image: url(Background.jpg);
        background-size: cover;
        height: 617px;
        position: relative; 
    }
    .navbar-brand{
        font-size: 32px;
    }
    .nav-link{
        font-size: 20px;
    }
    .dropdown-menu{
        background-color: white !important;
    }
    .dropdown-item{
        color: black !important;
    }
    .dropdown-item:hover{
        content: '';
        display: block;
        background-color: whitesmoke !important;
    }
    .card{
        margin-right: 100px;
    }
}
/*  */