/* Navbar */
.navbar{
    background-color: #323131;
    opacity: 100%;
}
.navbar-brand{
    font-family: Viga;
    font-size: 32px;
    color: white !important;
}
.nav-link{
    font-family: 'Titillium Web';
    font-size: 20px;
    margin-right: 27px;
    font-style: normal;
    color: white !important;
}
.nav-link:hover{
    content: '';
    display: block;
    background: black;
}
/* akhir Navbar */
#popup{
    background-image: url('tim-mossholder-q49oU8NeOHQ-unsplash.jpg');
    background-size: cover;

 }
 .card-body{
     height: 200px;
     font-family: 'Cairo', sans-serif ;
 }
 .pesan{
     margin-top: 50px;
 }
 .jumbotron{
    background-image: url(Background.jpg);
    background-size: cover;
    height: 617px;
    position: relative;
}
html{
    scroll-behavior: smooth;
}
