.navbar{
    background-color: black;
    position: relative;
}
.navbar-brand{
    color: white !important;
    font-family: Viga;
    font-size: 32px;
}

.nav-link{
    font-family: Haettenschweiler;
    font-style: normal;
    color: white !important;
    margin-right : 27px;
    font-size: 26px;
}
.nav-link:hover::after{
    content: '';
    display: block;
    border-bottom: 3px solid white;
    width: 50%;
    margin: auto;
    margin-bottom: -3px;
}

.dropdown{
    font-family: Viga;
    margin-top: 10px;
}

form .container{
    font-family: Viga;
    position :relative;
    margin-top: 40px;
}
.form-group {
    margin-top: 20px;
}
img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
 }
