/* Navbar */
.navbar{
    background-color: rgb(92, 89, 86);
    opacity: 100%;
}
.navbar-brand{
    font-family: Viga;
    font-size: 32px;
    color: white !important;
}
.nav-link{
    font-family: Haettenschweiler;
    font-size: 26px;
    margin-right: 27px;
    font-style: normal;
    color: white !important;
}
.nav-link:hover::after{
    content: '';
    display: block;
    border-bottom: 3px solid white;
    width: 50%;
    margin: auto;
    margin-bottom: -3px;
}
/* akhir Navbar */
/* card */

/* akhir card */
/* Dropdown */
.dropdown{
    font-family: Haettenschweiler;
    margin-top: 10px;
}
/* akhir dropdown */
/* pagination */
.pagination{
    align-content: center;
}
/* akhir pagination */