.card-text{
    margin-top: 20px;
}

.btn{
    margin-top: 20px;
    width: 20.5rem;
    
}
.semia{
    font-family: 'Noto Sans JP', sans-serif;
    border-bottom: rgb(168, 158, 158);
}

.tombol{
    margin-right: auto;
    color: green;
    font-family: 'Noto Sans JP', sans-serif;
}

.quantity{
    background-color: white;
}

.def-number-input{
    margin-top: 40px;
}

/* navbar */
.navbar{
    background-color: #323131;
    opacity: 100%;
}
.navbar-brand{
    font-family: Viga;
    font-size: 32px;
    color: white !important;
}
.nav-link{
    font-family: 'Titillium Web';
    font-size: 20px;
    margin-right: 27px;
    font-style: normal;
    color: white !important;
}
.nav-link:hover{
    content: '';
    display: block;
    background: black;
}

